<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Michael Davis</title>

        <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
        <link href="/static/css/theme.css" rel="stylesheet">
    </head>

    <body>
        {% if not remove_navbar %}
            {% include "base/navbar.html" %}
        {% endif %}

        <div class="container">

            {% block content %}{% endblock %}

            <hr>

            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>&copy; Michael Davis 2013 </p>
                    </div>
                </div>
            </footer>

        </div>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css"></script>
    </body>
</html>