<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Michael Davis</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('posts.list') }}" {% if active_nav == "blog" %}class="active" {% endif %}>Blog</a></li>
                <li><a href="{{ url_for('projects.list') }}" {% if active_nav == "projects" %}class="active" {% endif %}>Projects</a></li>
                <!--<li><a href="{{ url_for('pages.resume' ) }}" {% if active_nav == "pages_resume" %}class="active" {% endif %}>Resume</a></li>-->

            </ul>
            <ul class="nav navbar-nav pull-right">
                {% if user %}
                    <li><a href="{{ url_for('admin.index' ) }}" {% if active_nav == "admin_index" %}class="active" {% endif %}>Admin</a></li>
                    <li><a href="{{ url_for('auth.logout' ) }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('auth.login' ) }}">Login</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>