{% extends "base/one-column.html" %}

{% block column %}

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" role="form" method="post">
                        {{ render_form(form) }}
                        <button type="submit" class="btn btn-primary pull-right">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}