{% extends "base/one-column.html" %}

{% block column %}

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">

                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-danger alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <strong>Whoops!</strong> {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    <form method="post">
                        <input type="text" name="username">
                        <input type="password" name="password">
                        <button type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}