<div class="panel panel-default">
    <div class="panel-body">

        <ul class="media-list">
            <li class="media">
                <a class="pull-right" href="#">
                    <div class="social-icon social-google"></div>
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Email</h4>
                    mike.philip.davis@gmail.com
                </div>
            </li>

            <li class="media">
                <a class="pull-right" href="#">
                    <div class="social-icon social-github"></div>
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Github</h4>
                    github.com/mpdavis
                </div>
            </li>

            <li class="media">
                <a class="pull-right" href="#">
                    <div class="social-icon social-hackernews"></div>
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Hacker News</h4>
                    davis_m
                </div>
            </li>

            <li class="media">
                <a class="pull-right" href="#">
                    <div class="social-icon social-twitter"></div>
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Twitter</h4>
                    @davis_m
                </div>
            </li>

            <li class="media">
                <a class="pull-right" href="#">
                    <div class="social-icon social-linkedin"></div>
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Linkedin</h4>
                    linkedin.com/in/mpdavis1/
                </div>
            </li>
        </ul>

    </div>
</div>