<div class="panel panel-default">
    <div class="panel-body">

        <ul class="media-list">
            <li class="media">
                <a class="pull-right" href="#">
                    <div class="social-icon social-google"></div>
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Email</h4>
                    <a href="mailto:mike.philip.davis@gmail.com">mike.philip.davis@gmail.com</a>
                </div>
            </li>

            <li class="media">
                <a class="pull-right" href="#">
                    <div class="social-icon social-github"></div>
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Github</h4>
                    <a href="http://github.com/mpdavis">mpdavis</a>
                </div>
            </li>

            <li class="media">
                <a class="pull-right" href="#">
                    <div class="social-icon social-hackernews"></div>
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Hacker News</h4>
                    <a href="https://news.ycombinator.com/user?id=davis_m">davis_m</a>
                </div>
            </li>

            <li class="media">
                <a class="pull-right" href="#">
                    <div class="social-icon social-twitter"></div>
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Twitter</h4>
                    <a href="http://twitter.com/davis_m">@davis_m</a>
                </div>
            </li>

            <li class="media">
                <a class="pull-right" href="#">
                    <div class="social-icon social-linkedin"></div>
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Linkedin</h4>
                    <a href="http://linkedin.com/in/mpdavis1/">mpdavis1</a>
                </div>
            </li>
        </ul>

    </div>
</div>