<div class="site-title-wrapper">
    <a href="mailto:mike.philip.davis@gmail.com"><div class="social-icon social-google"></div></a>
    <a href="https://www.github.com/mpdavis"><div class="social-icon social-github"></div></a>
    <a href="https://twitter.com/davis_m"><div class="social-icon social-twitter"></div></a>
    <a href="http://www.linkedin.com/in/mpdavis1/"><div class="social-icon social-linkedin"></div></a>
    <a href="https://news.ycombinator.com/user?id=davis_m"><div class="social-icon social-hackernews"></div></a>
</div>