{% extends "base/two-column.html" %}

{% block left_column %}

        <div class="panel panel-default">
            <div class="panel-body">
                <h1>Flask-Blog</h1>
                <hr>
                <p>I have tried a number of solutions for my personal website and nothing I found fit my needs.  I am a huge fan of both Flask and Heroku, so I wanted a flask based website that I could quickly and easily host on Heroku.  </p>
                <p><img src="/static/img/projects/flask-blog.png" style="width: 100%"></p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <h1>XKCD Almamater</h1>
                <hr>
                <p>On April 1st, 2013, Randall Monroe, author of the website <a href="http://www.xkcd.com">XKCD</a> posted a contest as part of his Aprils Fool's day comic.  The contest was simple.  Randall posted the output of Skein hash, and competitors were to attempt to find inputs that when hashed with the same algorithm were as close as possible to the has that Randall posted. </p>
                <p>The original method that many people were using to generate hashes was a simple program that started hashing random text and checked the output.  This program accepted an input that would change which word it started hashing at, but most people were unaware of the optin and were completing the same hashes as everyone else.  </p>
                <p>Max Peterson and I quickly threw together a web service that would hand out different "blocks" of text strings to hash and altered the program to pull from that web service.</p>
                <p>Max and I then disseminated the client program out among Iowa State students so that they could run it on their personal desktops and a number of university resources. </p>
                <p>As a result of all of this, Iowa State tied for 9th place among 184 schools, beating teams such as Harvard, Yale, Duke, and Iowa.</p>
                <p>We lost to teams such as Carnegie Mellon, MIT, Columbia, and Berkely.</p>
                <p>The source code of the web servive is hosted on <a href="https://github.com/mpdavis/xkcd-almamater-central-server">Github</a></p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <h1>IScorE</h1>
                <hr>
                <p><a href="https://iscore.iseage.org">IScorE</a> is a scoring system for Iowa State's <a href="https://cdc.iseage.org/">Cyber Defense Competitions</a> which I have assisted Max Peterson in developing. </p>
                <p>Cyber Defense Competitions are competitions where students host a number of network services and have to protect them from industry professionals that are attempting to break into their networks.</p>
                <p>IScorE handles a huge number of portions of the competition.</p>
                <ul>
                    <li>Scanning student's services for uptime</li>
                    <li>All aspects of scoring for the competition</li>
                    <li>Wiki for attacking team to share information</li>
                    <li>Allows students and attacking team to communicate</li>
                    <li>Allows student teams to administer their own DNS</li>
                </ul>
                <p><img src="/static/img/projects/iscore.png" style="width: 100%"></p>
            </div>
        </div>

{% endblock %}