{% extends "base/one-column.html" %}

{% block column %}

        <div id="wrapper">

        <div class="container">

            <article class="post">
                <header class="post-header">
                    <h1 class="post-title">{{ project.title }}</h1>

                </header>

                <div class="post-content">
                     {{ project.html_body|safe }}
                </div>

                <footer class="post-footer">
                    <section class="author">
                        <!--<img src="/static/img/mike-square.jpg" class="userimage" alt="Seth Lilly" />-->
                        <!--<p class="attr">AUTHOR</p>-->
                        <!--<h4><a href="http://hipsterghost.com/">Michael Davis</a></h4>-->
                        <!--<p class="bio">You probably haven&#x27;t heard of me.</p>-->
                    </section>
                </footer>
            </article>



        </div>
        </div>
        </div>
    </div>

{% endblock %}