{% extends "base/one-column.html" %}

{% block column %}

        <div id="post-index" class="container">
        <ol class="post-list">
            {% for project in projects %}
                <li class="post-stub">
                    <a href="{{ url_for('projects.detail', slug=project.slug) }}">
                        <h4 class="post-stub-title">{{ project.title }}</h4> <br>
                        <div class="post-stub-title">{{ project.subtitle }}</div>

                    </a>
                </li>
            {% endfor %}
        </ol>

            <div class="post-navigation">
            <nav class="pagination" role="pagination">
                {% if older_posts %}
                <a class="older-posts" href="/ghostwriter/page/2.htm">Older Posts &rarr;</a>
                {% endif %}
            </nav>
        </div>
    </div>

{% endblock %}