

/*body {*/
    /*margin-top: 100px;  *//* 100px is double the height of the navbar - I made it a big larger for some more space - keep it at 50px at least if you want to use the fixed top nav */
    /*background-color: #efefef;*/
/*}*/

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

footer {
    margin: 20px 0;
}

.panel-title {
    font-size: 30px;
}

.panel-heading {
    height: 54px;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    border-top: thin solid #e5e5e5;
  height: 60px;
  background-color: #f5f5f5;
}

.content-container {
    padding-top: 100px;
}

.container .credit {
  margin: 20px 0;
}

.panel-post {
    font-size: 18px;
}

.panel-body p {
    margin: 0 0 15px;
}


/******************/
/*     Navbar     */
/******************/

.navbar {
    background-color: #34495e;
    border-bottom-color: #7f8c8d;
}

.navbar .navbar-nav>li>a:hover {
    background-color: #2c3e50;
    color: #eeeeee;
}

.navbar .navbar-nav>li>a {
    color: #eeeeee;
}

.navbar-inverse .navbar-brand {
    color: #eeeeee;
}

.active {
    background-color: #2c3e50;
}


/******************/
/*     Contact    */
/******************/

.media-body {
    margin-top: 8px;
    margin-left: 10px;
}

.media-body a {
    text-align: center;
}


/******************/
/*     Footer     */
/******************/

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.footer {
    border-top: thin solid #e5e5e5;
    height: 60px;
    background-color: #f5f5f5;
}

.content-container {
    padding-top: 100px;
}

.container .credit {
  margin: 20px 0;
}

/******************/
/*     Social     */
/******************/

.social-icon {
    height: 64px;
    width: 64px;
}

.social-google {
    background-color: #245dc1;
    background-image: url('/static/icons/google/google-64.png');
}

.social-github {
    background-color: #4183C4;
    background-image: url('/static/icons/github/github-64.png');
}

.social-twitter {
    background-color: #00ACED;
    background-image: url('/static/icons/twitter/twitter-64.png');
}

.social-linkedin {
    background-color: #007FB1;
    background-image: url('/static/icons/linkedin/linkedin-64.png');
}

.social-hackernews {
    background-color: #FF6600;
    background-image: url('/static/icons/hackernews/hackernews-64.png');
}

