

body {
    margin-top: 100px; /* 100px is double the height of the navbar - I made it a big larger for some more space - keep it at 50px at least if you want to use the fixed top nav */
    background-color: #efefef;
}

footer {
    margin: 50px 0;
}


/******************/
/*     Navbar     */
/******************/

.navbar {
    background-color: #34495e;
    border-bottom-color: #7f8c8d;
}

.navbar .navbar-nav>li>a:hover {
    background-color: #8e44ad;
    color: #eeeeee;
}

.navbar .navbar-nav>li>a {
    color: #eeeeee;
}

.navbar-inverse .navbar-brand {
    color: #eeeeee;
}


/******************/
/*     Contact    */
/******************/

.contact-row {
    margin-left: 10px;
}

.contact-row .contact-text {
    line-height: 32px;
    display: inline-block;
    margin-left: 10px;
}

.contact a {
    display: block;
    cursor: pointer;
    line-height: 32px;
    height: 32px;
    padding-left: 10px;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: text-top;
}

