{% extends "base/two-column.html" %}

{% block left_column %}

        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" id="post-title" name="post-title" placeholder="Title">
                    </div>
                    <input type="text" class="form-control" id="post-slug" name="post-slug" placeholder="Slug">
                    <hr>
                    <textarea class="form-control" rows="30" id="post-body" name="post-body" placeholder="Add post body..."></textarea>
                    <br>
                    <input type="submit" class="btn btn-primary pull-right" value="Save">
                </form>
            </div>
            <div class="panel-footer">
                <span class="glyphicon glyphicon-time"></span> Posted at  by Michael Davis
            </div>
        </div>

        <!--<div class="panel panel-default">-->
            <!--<div class="panel-body">-->
                <!--<h1></h1>-->
                <!--<hr>-->

                <!--<p></p>-->
            <!--</div>-->
            <!--<div class="panel-footer">-->
                <!--<span class="glyphicon glyphicon-time"></span> Posted at  by Michael Davis-->
            <!--</div>-->
        <!--</div>-->


{% endblock %}