{% extends "base/two-column.html" %}

{% block js %}

        <script src="/static/js/bootstrap-markdown.js"></script>

{% endblock %}

{% block left_column %}



        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" id="post-title" name="project-title" placeholder="Title">
                    </div>
                    <input type="text" class="form-control" id="project-subtitle" name="project-subtitle" placeholder="Subtitle">
                    <input type="text" class="form-control" id="project-slug" name="project-slug" placeholder="Slug">
                    <hr>
                    <textarea class="form-control" rows="30" id="post-body" name="post-body" placeholder="Add post body..."></textarea>
                    <br>
                    <input type="submit" class="btn btn-primary pull-right" value="Save">
                </form>
            </div>
            <div class="panel-footer">
                <span class="glyphicon glyphicon-time"></span> Posted at  by Michael Davis
            </div>
        </div>

{% endblock %}